#FileButton, ExecButton, ExportButton, ImportButton{
    border: none;
    height: 40px;
}

#FileButton:hover, ExecButton:hover, ExportButton:hover, ImportButton:hover {
    background-color: #8ABD8E;
}

#FileButton:pressed, ExecButton:pressed, ExportButton:pressed, ImportButton:pressed {
    background-color: #594F83;
}